// button
.button {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  letter-spacing: 4px;
  position: relative;
  background-color: #00b4d8;
  border: none;
  color: #0c1951;
  padding: 10px;
  width: 160px;
  text-align: center;
  transition-duration: 0.5s;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 2rem;
}

.button:hover {
  background: #fff;
  box-shadow: 0.25rem 0.25rem 1rem #0c1951;
  color: #00b4d8;
}

.button:after {
  content: "";
  background: #00b4d8;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:hover:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.button:active {
  color: #0c1951;
}

.button:focus {
  outline: 0;
}
