.navbar__item {
  margin: 0 1rem 0 1rem;
  &_link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    color: #0c1951;
    transition: all ease-out 200ms;
  }
  &_link:hover {
    color: #00b4d8;
  }
}
