.mobi_nav__cover {
  position: relative;
  display: inline-block;
  border: 2px solid green;
  left: 400px;
  margin-top: 20px;
}
.mobi_nav__cover:hover {
  cursor: pointer;
}
.mobi_nav__item {
  position: relative;
  margin: 20px;
  height: 2px;
  width: 20px;
  background-color: black;
  cursor: pointer;
}
.mobi_nav__item::before {
  content: "";
  position: absolute;
  top: -6px;
  height: 2px;
  width: 20px;
  background-color: #229605;
}
.mobi_nav__item::after {
  content: "";
  position: absolute;
  top: 6px;
  height: 2px;
  width: 20px;
  background-color: #c71a1a;
}
