$colorWhite: #fdfdfd;
$colorBasic: #0c1951;
$colorBlue: #00b4d8;

//===== utils ==== //
.title {
  font-size: 3rem;
  font-weight: 700;
  color: #0c1951;
  margin-top: 3rem;
  letter-spacing: 0.25rem;

  &_blue {
    color: #00b4d8;
  }
}
.divider {
  border: 2px solid #0c1951;
  background-color: #00b4d8;
  height: 5px;
  width: 80%;
  margin: 3rem auto;
}
.content_text {
  padding: 2rem 0 2rem 0;
  font-size: 2rem;
  text-align: justify;
  font-weight: 100;
}

// button
.button {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  letter-spacing: 4px;
  position: relative;
  background-color: #00b4d8;
  border: none;
  color: #0c1951;
  padding: 10px;
  width: 160px;
  text-align: center;
  transition-duration: 0.5s;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 2rem;
}

.button:hover {
  background: #fff;
  box-shadow: 0.25rem 0.25rem 1rem #0c1951;
  color: #00b4d8;
}

.button:after {
  content: "";
  background: #00b4d8;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:hover:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.button:active {
  color: #0c1951;
}

.button:focus {
  outline: 0;
}

//===== home ==== //

.profilepic {
  animation: filtered 10s linear 4s infinite backwards;
}
.home {
  //justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  background-color: $colorWhite;
  color: $colorBasic;
}

.heading {
  font-size: 5rem;
  text-shadow: 2px 2px $colorBlue;
  font-weight: bolder;
  letter-spacing: 0.25rem;
  padding-bottom: 3rem;
}
.heading_text {
  color: $colorBlue;
  font-size: 3rem;
  text-transform: capitalize;
}
.heading_greet {
  position: relative;
  color: $colorBlue;
  top: 20rem;
  opacity: 0;
  animation: greet 1s ease-out 1s 1 forwards;
  letter-spacing: 0.5rem;
  font-size: 3rem;
}

@keyframes greet {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    color: $colorBasic;
  }
  50% {
    opacity: 1;
    transform: scaleX(1) scaleY(0.8);
  }

  80% {
    opacity: 1;
    transform: scaleX(1) scaleY(1.5);
    color: $colorBasic;
  }
  100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    color: $colorBlue;
    top: 0;
  }
}
@keyframes filtered {
  0% {
    filter: none;
  }

  95% {
    filter: grayscale(1);
  }

  100% {
    filter: none;
  }
}

//===== my Projects==== //

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  margin-top: -30px;

  &_skills {
    background-color: #dfdfdf;
    border-radius: 20px;
    padding: 15px 15px 25px 15px;
    box-shadow: 12px 16px 12px -9px rgba(0, 0, 0, 0.29);
  }
  &_skills_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    row-gap: 2rem;
  }

  &_skill_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_skill_card_img {
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    transition: ease 500ms;
  }
  &_skill_card_text {
    color: $colorBasic;
  }
  &_skill_card_img:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.6;
    box-shadow: 12px 16px 12px -9px rgba(0, 0, 0, 0.29);
  }
}
.skill_title {
  font-size: 3rem;
  color: $colorBasic;
  text-align: center;
  text-shadow: $colorBlue 2px 2px;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
.skill_info {
  text-align: center;
  font-weight: 400;
  padding: 0 0 2rem 0;
  color: $colorBasic;
}

//===== my Project video ==== //

.project {
  &_outter_container {
    margin-top: 4rem;
    background-color: #dfdfdf;
    border-radius: 20px;
    padding: 15px 15px 25px 15px;
    box-shadow: 12px 16px 12px -9px rgba(0, 0, 0, 0.29);
  }
  &_inner_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.25rem;
    column-gap: 2rem;
  }
  &_video_card {
    border-radius: 20px;
    overflow: hidden;
    opacity: 1;
    transition: ease 300ms;
    margin-bottom: 2rem;
    border: 1px solid #bbbbbb;
    //width: 88%;
  }
  &_video_card:hover {
    opacity: 0.7;
    transform: scale(1.02);
    box-shadow: 12px 16px 12px -9px rgba(0, 0, 0, 0.29);
  }
  &_video {
    width: 100%;
  }
  &_video:focus {
    outline: none;
    border: transparent;
  }
  &_btn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  &_btn1 {
    padding: 0 0 10px 0;
    display: flex;
    text-decoration: none;
  }
}

//===== contact ==== //

.contact {
  background-color: $colorBlue;
  min-height: 70vh;
  &_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colorBasic;
    font-size: 1.5rem;
    &_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      h1 {
        padding: 1rem 2rem;
        margin: 0.5rem;
        transition: all ease-out 200ms;
      }
      h1:hover {
        border-radius: 50px;
        background-color: $colorWhite;
      }
    }
  }
}
.info_icon {
  color: $colorWhite;
  font-size: 3.5rem;
}

//===== footer ==== //

@media (min-width: 768px) {
  .home_main {
    display: flex;
  }
  .home1 {
    width: 40%;
    padding-top: 2rem;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .home_main {
    margin-top: -2rem;
  }
  .project {
    &_inner_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 1.25rem;
      column-gap: 2rem;
    }
  }
}
