.nav_mobi__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  opacity: 0;
  width: 20rem;
  height: 100%;
  list-style: none;
  animation: bounce-in 700ms ease 100ms forwards;
}
.nav_mobi__page_link {
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
  text-decoration: none;
  color: #ffff;
}
.nav_mobi__page_close {
  position: relative;
  position: relative;
  top: 0;
  height: 3px;
  width: 25px;
  background-color: #0c1951;
  cursor: pointer;
  z-index: 1;
  display: inline-block;
  left: 15%;
  top: 1rem;
  transform: rotate(45deg);
}

.nav_mobi__page_close::before {
  content: "";
  position: absolute;
  top: 0;
  height: 3px;
  width: 25px;
  background-color: #0c1951;
  transform: rotate(85deg);
  left: 0px;
}
.mobi_nav__cover {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;

  left: 90%;
  margin-top: 20px;
}
.mobi_nav__cover:hover {
  cursor: pointer;
}

.nav_mobi__page_bg {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00b4d8;
}

@keyframes bounce-in {
  0% {
    transform: translateX(-30rem);
  }
  70% {
    width: 23rem;
  }
  100% {
    background: #0c1951;
    opacity: 1;
    transform: translateX(1);
  }
}
