@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap");

// font-family: 'Lora', serif;
// font-family: 'Montserrat', sans-serif;

// font-family: 'Oswald', sans-serif;

$colorWhite: #fdfdfd;
$colorBasic: #0c1951;
$colorBlue: #00b4d8;
$colorGray-1: #a1aeb1;

html {
  box-sizing: border-box;

  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Oswald", serif;
  background-color: $colorWhite;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", serif;
}

li {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  color: #2b2828;
  font-size: 1.5rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 2rem 4rem 0 4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $colorBasic;
  color: $colorGray-1;
  padding: 3rem 4rem 1rem 4rem;
  min-height: 15vh;
}
footer h1 {
  border-top: 1px $colorGray-1 solid;
}
footer a {
  color: $colorBlue;
  font-size: 7rem;
  transition: all ease-out 300ms;
}
footer .footer_social {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

footer a:first-of-type:hover {
  color: #899396;
  transform: scale(1.15);
}
footer a:nth-of-type(2n):hover {
  color: #110f0f;
  transform: scale(1.15);
}
footer a:last-of-type:hover {
  color: #1da1f2;
  transform: scale(1.15);
}
